	/*********/
	/* RESET */
	/*********/

	header, nav, footer, figure, section, article {display: block;}
	html, body, span, object, iframe, h1, h2, h3, h4, h5, h6, a, em, font, img, strong, sub, sup, dl, dt, dd, ul, ol, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, p {margin: 0;	padding: 0;	border: 0;	outline: 0; text-decoration: none;}




	/*********/
	/* GENERAL */
	/*********/


	body {
	  font-family: 'Arial', sans-serif;
		height: 100%;
		background-color: white;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-o-box-sizing: border-box;
	}

	/*  Modifs gabarit pri  */

	#n2g_conteneur_milieu{
			padding-bottom: 0px;
			border-right:1px solid #cccccc;
			border-left:1px solid #cccccc;
	}


	#n2g_zone_milieu{
	margin-top: 0px;
	}

	#n2g_zone_centre{
		padding-left: 0;
		padding-right: 0;
		width: 978px !important;
		float:none;
		height: auto !important;
	}

	a{
	  text-decoration: underline;
	}


	/*******************************
		   Contenu Page bienvenue
	*******************************/


	/*  GRID SYSTEM */


	/*  SECTIONS  */
	.n2g_section {
		clear: both;
		padding: 0px;
		margin: 0px;
		zoom:1;
	}

	/*  COLUMN SETUP  */
	.n2g_col {
		display: block;
		float:left;
		margin: 1% 0 1% 0%;
	}
	.n2g_col:first-child { margin-left: 0; }

  .n2g_clear {content:""; display:table; clear:both;}

	/*  GRID OF 2  */
	.n2g_span_1_of_2 {
		width: 50%;
	}

	/*  GRID OF 4  */
	.n2g_span_1_of_4 {
		width: 25%;
	}

	/*  GRID OF 5  */
	.n2g_span_1_of_5 {
		width: 20%;
	}


	/* Vars */

	$color-white: #ffffff;
	$color-blue-light: #6093cf;
	$color-grey-1: #484848;
	$color-red : #fc0016;
	$color-red-darker : #dc091b;
	$color-black : #000000;


	/* Mixins */

	@mixin n2g_button{
		display: block;
		position: relative;
		margin: auto;
		padding: 0;
		height: 52px;

		color: $color-white;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 16px;
		text-align: center;
		font-weight: normal;

		text-align: left;

		border-radius: 5px;
		background-color: $color-red;
		border-bottom: 2px #a02426 solid;

		span{
			position: relative;
			display: block;
			margin: auto;
			top:20px;
			text-align: center;

		}

		&:hover{
			background-color: $color-red-darker;
			border-bottom: 2px #a02426 solid;

		}

	}

@mixin n2g-plain-text{
	margin-top: 25px;
	color: $color-grey-1;
	font-size: 16px;
	line-height: 22px;
		a{
			color: $color-grey-1;
		}

	ul{
		margin-left: 25px;
		margin-top: 20px;
		color: $color-blue-light;

		li{
			font-size: 20px;
			&:not(:first-child){
			margin-top:10px;
			}
			span{
				font-size: 16px;
				color:$color-black;
			}
		}
	}

	span{
		&.n2g_bienvenue_colored_part{
			color: $color-blue-light;
		}
	}
}





	/* Wrapper */

	.n2g_bienvenue_wrapper{
		background-color: #ffffff;
		box-sizing: border-box;


		/* Hero */

		#n2g_bienvenue_hero{
			overflow: hidden;
		  position: relative;
		  width: 978px;
		  height: 464px;
			background-color: #f1f0f0;
		  background-image: url('../img/n2g_bienvenue_theme.jpg');
			background-repeat: no-repeat;
			margin: 0;
			padding: 0;


			.n2g_bienvenue_contenu{
				margin: 45px 0 0 475px;
				width: 470px;

				h1{
					color: $color-blue-light;
					text-transform: uppercase;
					font-size: 21px;
					line-height: 30px;
				}

				.n2g_bienvenue_plain_text{
					margin-top: 25px;
					color: $color-grey-1;
					font-size: 16px;
					line-height: 23px;
					a{
						color: $color-grey-1;
					}
				}

				a.n2g_button{
					@include n2g_button;
					margin-top: 25px;
				}



			}

		}

	/* Features */

	#n2g_bienvenue_features{
		background-color: #717171;
		height: 100px;
		color: $color-white;
		padding: 0 40px;


		.n2g_col{
			text-align: center;
			font-size: 13px;
			text-transform: uppercase;
			font-weight: bold;

			.icon{
				margin: auto;
				width: 40px;
				height: 40px;
				background: #938203;

				&.demarche{background: url('../img/n2g_bienvenue_feature-white.png') no-repeat 0 0;}
				&.procedure{background: url('../img/n2g_bienvenue_feature-white.png') no-repeat -40px 0 ;}
				&.suivi{background: url('../img/n2g_bienvenue_feature-white.png') no-repeat -80px 0 ;}
				&.outil{background: url('../img/n2g_bienvenue_feature-white.png') no-repeat -120px 0 ;}
				&.service{background: url('../img/n2g_bienvenue_feature-white.png') no-repeat -160px 0 ;}

				@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
					&.demarche,
					&.procedure,
					&.suivi,
					&.outil,
					&.service
					{
						background-image: url('../img/n2g_bienvenue_feature-white-2x.png');
						background-size: 200px 40px;
					}

				}
			}

			span{
				display:block;
				margin-top: 5px;
				line-height: 17px;
			}
		}

	}

	/* Main */

	#n2g_bienvenue_main{
		padding:50px 75px 70px 75px;
		background-color: #fafafa;

		h2{
			text-transform: uppercase;
			font-size: 21px;
		}

		.n2g_bienvenue_plain_text{
			@include n2g-plain-text;
		}

		.n2g_bienvenue_solution{
			margin-top: 40px;

			h3{
				text-transform: uppercase;
				text-align: center;
				font-size: 21px;
			}

			.n2g_bienvenue_plain_text{
				color: $color-black;
			}

			.n2g_bienvenue_stepper{
				&.transfer_mesure{

					.n2g_section .n2g_col{
						height: 300px;

						&.n2g_span_1_of_4 {
							width: 23%;
						}

						&.n2g_span_1_of_4_extended {
							width: 31%;
						}
					}



			}

				margin-top: 30px;
				min-height: 230px;

				.n2g_section .n2g_col{
					height: 250px;
					text-align: center;



					.icon{
						margin: auto;
						width: 80px;
						height: 80px;
						background-color: $color-blue-light;

						&.remplir{background: url('../img/n2g_bienvenue_stepper.png') no-repeat 0 0;}
						&.contacter{background: url('../img/n2g_bienvenue_stepper.png') no-repeat -80px 0;}
						&.adresser{background: url('../img/n2g_bienvenue_stepper.png') no-repeat -160px 0;}
						&.cloturer{background: url('../img/n2g_bienvenue_stepper.png') no-repeat -240px 0;}
						&.adresser-2{background: url('../img/n2g_bienvenue_stepper.png') no-repeat -320px 0;}
						&.selectionner{background: url('../img/n2g_bienvenue_stepper.png') no-repeat -400px 0;}

						@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
							&.remplir,
							&.contacter,
							&.adresser,
							&.cloturer,
							&.adresser-2,
							&.selectionner
							{
								background-image: url('../img/n2g_bienvenue_stepper-2x.png');
								background-size: 480px 80px;
							}

						}
					}

					span{
						display: block;
						margin: 25px 20px;

						font-size: 14px;
						line-height: 20px;
					}

				}

			}

		}

		.n2g_bienvenue_action{
			clear: both;

			a.n2g_button{
				display:block;
				width: 485px;
				@include n2g_button;
			}

			.n2g_bienvenue_deja_client{
				text-align: center;
				margin-top: 20px;

				a{
					text-decoration: underline;
					color: #333333;
				}

			}
		}

		}

	  /* Summary */

		#n2g_bienvenue_summary{
			padding:50px 100px 70px 50px;

			h2{
				text-transform: uppercase;
				font-size: 21px;
			}

			ul{
				list-style-type:none;

				li{
					margin-top: 35px;
					margin-left: 20px;

						.icon{

							float:left;
							width: 60px;
							height: 90px;
							margin-right: 20px;
							background-color: #938;

							&.demarche{background:url('../img/n2g_bienvenue_feature-blue.png') no-repeat 0 0;}
							&.procedure{background:url('../img/n2g_bienvenue_feature-blue.png') no-repeat -60px 0;}
							&.suivi{background:url('../img/n2g_bienvenue_feature-blue.png') no-repeat -120px 0;}
							&.outil{background:url('../img/n2g_bienvenue_feature-blue.png') no-repeat -180px 0;}
							&.service{background:url('../img/n2g_bienvenue_feature-blue.png') no-repeat -240px 0;}

							@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
								&.demarche,
								&.procedure,
								&.suivi,
								&.outil,
								&.service
								{
									background-image: url('../img/n2g_bienvenue_feature-blue-2x.png');
									background-size: 300px 60px;

								}
							}


						}

						h3{
							text-transform: uppercase;
							color: $color-blue-light;
							font-size: 16px;
						}

						span{
							@include n2g-plain-text;
							display: block;
							width: 700px;
							margin-top: 8px;
						}
					}

			}

		}


		/* FAQ */

		#n2g_bienvenue_faq{

			background-color: #fafafa;

			.accordion{

				h1, h2 {
				  cursor: pointer;
				}

				h1 {
				  background-color: #fafafa;
					text-transform: uppercase;
				  font-size: 21px;
					padding:45px 70px;
					position:relative;

					&:hover {
					  background-color: #f2f2f2;
					}

					span{
						display:block;
						width: 35px;
						height: 35px;
						position: absolute;
						pointer-events: none;
						top: 40px;
						right: 70px;
						background: url('../img/n2g_bienvenue_faq_deploy_signs.png') no-repeat 0 0;
						&.open{
							background-position: -35px 0;
						}

						@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
								background-image: url('../img/n2g_bienvenue_faq_deploy_signs-2x.png');
								background-size: 140px 35px;
						}

					 }
				}

				div, p{
					display: none;
				}


				h2{

					position: relative;
					font-weight:normal;
					min-height: 40px;



					&.open{
						font-weight:bold;
						display:block;
					}

					span{
						display:block;
						pointer-events: none;
						width: 35px;
						height: 35px;
						position: absolute;
						top: 16px;
						right: 70px;
						background: url('../img/n2g_bienvenue_faq_deploy_signs.png') no-repeat -70px 0;
						&.open{
							background-position: -105px 0;
						}

						@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
								background-image: url('../img/n2g_bienvenue_faq_deploy_signs-2x.png');
								background-size: 140px 35px;
						}

					}
				}


				h2, div.n2_question_content{
				  padding: 16px 200px 16px 70px;

					color: $color-grey-1;
					font-size: 16px;
					line-height: 22px;
						a{
							color: $color-grey-1;
						}

					ul{
						margin-left: 25px;
						margin-top: 20px;
						color: $color-blue-light;

						li{
							font-size: 20px;
							&:not(:first-child){
							margin-top:10px;
							}
							span{
								font-size: 16px;
								color:$color-black;
							}
						}
					}

					span{
						&.n2g_bienvenue_colored_part{
							color: $color-blue-light;
						}
					}
					margin-top:0px;
					font-weight: normal;
				}



				div.n2_question_content{

					padding-top: 0px;


					ul{
						li{
							&:not(:first-child){
								margin-top:20px;
							}
							ul{
								margin-top:10px;
								li{
									span{
										font-size: 14px;
									}
								}
							}
						}
					}
				}


				h2:nth-of-type(odd), div.n2_question_content:nth-of-type(odd) {
					background-color: #e6e6e6;
				}

				h2:nth-of-type(even), div.n2_question_content:nth-of-type(even) {
					background-color: #efefef;
				}

			}

		}


		/* Mentions */

		#n2g_bienvenue_mention {

			padding:20px;
			background-color: #ffffff;
			font-size: 12px;
			line-height: 18px;

		}

	}
